
<div class="content-wrapper">
    <section class="content" style="margin-top:-75%">
        <div class="box">
            <div class="box-header with-border">
                <h3 class="box-title">All Patients</h3>
                <div class="box-tools pull-right">
                    <button class="btn btn-box-tool" data-widget="collapse" data-toggle="tooltip" title="Collapse"><i class="fa fa-minus"></i></button>
                    <button class="btn btn-box-tool" data-widget="remove" data-toggle="tooltip" title="Remove"><i class="fa fa-times"></i></button>

                </div>
                <div class="row">
                    <div class="col-xs-12">
                        <div class="box">
                            <div class="box-header">

                                <div class="box-tools">
                                </div>
                            </div>
                            <div class="box-body table-responsive no-padding">
                                <table id="example" class="table table-hover">
                                    <thead>
                                        <tr>

                                            <th>Token</th>
                                            <th>Name</th>
                                            <th>Phone</th>
                                            
                                            <th>Edit</th>
                                            <th>Details</th>
                                            <th>Delete</th>

                                        </tr>
                                    </thead>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </section>
</div>

<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/dt/dt-1.10.21/datatables.min.css" />


@section scripts{

    <script type="text/javascript" src="https://cdn.datatables.net/v/dt/dt-1.10.21/datatables.min.js"></script>

    <script>

    $(document).ready(function () {

    $(" #example").DataTable({

    "ajax" : {
    "url" : "/Patient/displayPatient" ,
    "type" : "Get" ,
    "datatype" : "json"
        },
        //this is for hide column
@*                "columnDefs": [{
            "targets": [0],
            "visible": false,
            "searchable": true
        }],*@
    "columns" : [

    { "data" : "token" },
    { "data" : "name" },
    { "data" : "phone" },

    {
    "render" : function (data, type, full, meta) { return '<a class="btn btn-info" href="/Patient/Edit/' + full.id + '">Edit</a>' ; }
        },
        {
            "render": function (data, type, full, meta) { return '<a class="btn btn-primary" href="/Patient/Details/' + full.id + '">Details</a>'; }
        },
        {
            "render": function (data, type, full, meta) { return '<a class="btn btn-danger" href="/Patient/Delete/' + full.id + '">Delete</a>'; }
        },
    ]
    });
    });
    function DeleteData(id ) {
        if (confirm("Are you sure you want to delete ...?")) {
                Delete(id);
            } else {
                return false;
            }
        }
    function Delete(id) {
            var url = '@Url.Content("~/")' + "Doctor/Delete";

            $.post(url, {ID: id }, function(data) {
                if (data) {
                    oTable = $('#example').DataTable();
                    oTable.draw();
                } else {
                    alert("Something Went Wrong!");
                }
            });
        }

    </script>

} 