@model ProfileViewModel

@{
    ViewData["Title"] = "Update Your Profile";
}

    <div class="content-wrapper">
        <section class="content" style="margin-top:-81%">

            <!-- SELECT2 EXAMPLE -->
            <form asp-action="Update" asp-controller="Account">
                <div class="box ">
                    <div class="box-header with-border">
                        <h3 class="box-title">Update Your Info </h3>
                        <div class="box-tools pull-right">
                            <button class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
                            <button class="btn btn-box-tool" data-widget="remove"><i class="fa fa-remove"></i></button>
                        </div>
                    </div><!-- /.box-header -->

                    <div class="box-body">
                        <div class="row">
                            <div class="col-md-12">
                                <input asp-for="Id" type="hidden" />
                                <div class="form-group">
                                    <label>Name</label>
                                    <input type="text" asp-for="UserName" class="form-control select2" />
                                </div><!-- /.form-group -->
                                <div class="form-group">
                                    <label>Name</label>
                                    <input type="text" asp-for="Email" class="form-control select2" />
                                </div>

                            </div><!-- /.col -->

                        </div><!-- /.row -->
                    </div><!-- /.box-body -->
                    <div class="item form-group">
                        <div class="col-md-6 col-sm-6 offset-md-3">
                            <button type="submit" class="btn btn-success">Update</button>
                        </div>
                    </div>
                </div><!-- /.box -->
            </form>



        </section>
    </div>